body{
    font-family:'Courier New', Courier, monospace;
    max-width: 600px;
    margin: 30px auto;
    background-color:lemonchiffon;
}
h1{
    text-align: center;
    color: darkblue;;
}
#search{
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    font-size: 16px;
}






